.form {
  display: flex;
}

input {
  background: none;
  color: #c6c6c6;
  font-size: calc(10px + 2vmin);
  padding: 1vmin 1vmin 1vmin .5vmin;
  display: inline-block;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #444955;
}

input:focus, textarea:focus {
  outline: none;
}

.btn {
  background: #06aad6;
  color: #d6e6f6;
  border: none;
  padding: calc(20px - 3vmin) 2vmin;
  border-radius: .7vmin;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
}

.btn:hover {
  background: #0088ee;
  color: #ddeeff;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
}
