.list {
  flex: 1;
  max-width: 550px;
  width: 100%;
  margin-top: 3vmin;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .7em;
}

.task:not(:first-child) {
  border-top: 1px solid #444955;
}

/* checkboxes */
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  padding-left: 2em;
  margin: .7em 0;
  transition: all .12s;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 1px solid;
  border-color: #0597be;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: .5em;
  top: -.25em;
  left: .25em;
  border-color: #444955;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

input[type="checkbox"]:checked + label {
  padding-left: 1.7em;
  color: #444955;
  text-decoration: line-through;
}

.remove {
  height: 1.05em;
  width: 1.05em;
  text-align: center;
  line-height: 1.05em;
  border-radius: 50%;
  font-size: 1.3em;
  color: #888888;
  background-color: #333844;
  cursor: pointer;
  transition: all .12s;
}

input[type="checkbox"]:checked ~ .remove {
  color: #c6c6c6;
  background-color: #444955;
}

.remove:hover {
  margin-right: -.025em;
  height: 1.1em;
  width: 1.1em;
  line-height: 1.1em;
  color: red;
  background-color: #444955;
}

input[type="checkbox"]:checked ~ .remove:hover {
  color: red;
}

