body {
  box-sizing: border-box;
  font-size: calc(10px + 2vmin);
  font-family: 'Open Sans', Arial, sans-serif;
  color: white;
  background-color: #282c34;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 4em;
  width: 4em;
}

h1 {
  padding: 0 5vmin;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
